In [1]:
# create spark session
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("Intro to Spark")
    .master("local[*]")
    .getOrCreate()
)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/14 14:25:54 WARN Utils: Your hostname, DESKTOP-DMC84B8, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/07/14 14:25:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/14 14:25:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
# create sample data
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [4]:
df = spark.createDataFrame(data=emp_data, schema=emp_schema)
df.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [5]:
# get schema of df
print(df.schema)
df.printSchema()

StructType([StructField('employee_id', StringType(), True), StructField('department_id', StringType(), True), StructField('name', StringType(), True), StructField('age', StringType(), True), StructField('gender', StringType(), True), StructField('salary', StringType(), True), StructField('hire_date', StringType(), True)])
root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [6]:
# create sample schema
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

schema = StructType([
    StructField("name", StringType(), nullable=True),
    StructField("age", IntegerType(), nullable=True),
    StructField("salary", FloatType(), nullable=True)
])
print(schema)

StructType([StructField('name', StringType(), True), StructField('age', IntegerType(), True), StructField('salary', FloatType(), True)])

In [9]:
# column and expression
from pyspark.sql.functions import col, expr

print(col("col1"))  # column is similar to expression
print(expr("col1")) # any manipulation on column are considered expression

# ways to access column in dataframe
print(df.salary)
print(df["salary"])

Column<'col1'>
Column<'col1'>
Column<'salary'>
Column<'salary'>

In [11]:
# select using column
emp_filtered = df.select(col("employee_id"), col("salary"))
emp_filtered.show()

+-----------+------+
|employee_id|salary|
+-----------+------+
|        001| 50000|
|        002| 45000|
|        003| 55000|
|        004| 48000|
|        005| 60000|
|        006| 52000|
|        007| 70000|
|        008| 51000|
|        009| 58000|
|        010| 47000|
|        011| 65000|
|        012| 54000|
|        013| 75000|
|        014| 46000|
|        015| 63000|
|        016| 49000|
|        017| 57000|
|        018| 50000|
|        019| 62000|
|        020| 53000|
+-----------+------+

In [13]:
# select using expr
emp_filtered = df.select(expr("employee_id as e_id"), expr("name"), expr("cast(age as int) as age"), 
                         expr("cast(salary as int) as salary"))
emp_filtered.show()

+----+-------------+---+------+
|e_id|         name|age|salary|
+----+-------------+---+------+
| 001|     John Doe| 30| 50000|
| 002|   Jane Smith| 25| 45000|
| 003|    Bob Brown| 35| 55000|
| 004|    Alice Lee| 28| 48000|
| 005|    Jack Chan| 40| 60000|
| 006|    Jill Wong| 32| 52000|
| 007|James Johnson| 42| 70000|
| 008|     Kate Kim| 29| 51000|
| 009|      Tom Tan| 33| 58000|
| 010|     Lisa Lee| 27| 47000|
| 011|   David Park| 38| 65000|
| 012|   Susan Chen| 31| 54000|
| 013|    Brian Kim| 45| 75000|
| 014|    Emily Lee| 26| 46000|
| 015|  Michael Lee| 37| 63000|
| 016|  Kelly Zhang| 30| 49000|
| 017|  George Wang| 34| 57000|
| 018|    Nancy Liu| 29| 50000|
| 019|  Steven Chen| 36| 62000|
| 020|    Grace Kim| 32| 53000|
+----+-------------+---+------+

In [16]:
emp_filtered.printSchema()

root
 |-- e_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [19]:
# another way, select using selectExpr
emp_filtered1 = df.selectExpr("employee_id as emp_id", "name", "cast(age as int) as age", "cast(salary as int) as salary")
emp_filtered1.show()

+------+-------------+---+------+
|emp_id|         name|age|salary|
+------+-------------+---+------+
|   001|     John Doe| 30| 50000|
|   002|   Jane Smith| 25| 45000|
|   003|    Bob Brown| 35| 55000|
|   004|    Alice Lee| 28| 48000|
|   005|    Jack Chan| 40| 60000|
|   006|    Jill Wong| 32| 52000|
|   007|James Johnson| 42| 70000|
|   008|     Kate Kim| 29| 51000|
|   009|      Tom Tan| 33| 58000|
|   010|     Lisa Lee| 27| 47000|
|   011|   David Park| 38| 65000|
|   012|   Susan Chen| 31| 54000|
|   013|    Brian Kim| 45| 75000|
|   014|    Emily Lee| 26| 46000|
|   015|  Michael Lee| 37| 63000|
|   016|  Kelly Zhang| 30| 49000|
|   017|  George Wang| 34| 57000|
|   018|    Nancy Liu| 29| 50000|
|   019|  Steven Chen| 36| 62000|
|   020|    Grace Kim| 32| 53000|
+------+-------------+---+------+