In [1]:
# create spark session
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("Introduction to spark")
    .master("local[*]")
    .getOrCreate()
)
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/14 15:55:03 WARN Utils: Your hostname, DESKTOP-DMC84B8, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/07/14 15:55:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/14 15:55:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/07/14 15:55:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
# create sample data
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [ ]:
# create dataframe
emp = spark.createDataFrame(data=emp_data, schema=emp_schema)
emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [4]:
emp.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [6]:
# casting column
from pyspark.sql.functions import col, cast

emp_casted = emp.select("employee_id", "department_id", col("age").cast("int"), col("salary").cast("double"))
emp_casted.show()

+-----------+-------------+---+-------+
|employee_id|department_id|age| salary|
+-----------+-------------+---+-------+
|        001|          101| 30|50000.0|
|        002|          101| 25|45000.0|
|        003|          102| 35|55000.0|
|        004|          102| 28|48000.0|
|        005|          103| 40|60000.0|
|        006|          103| 32|52000.0|
|        007|          101| 42|70000.0|
|        008|          102| 29|51000.0|
|        009|          103| 33|58000.0|
|        010|          104| 27|47000.0|
|        011|          104| 38|65000.0|
|        012|          105| 31|54000.0|
|        013|          106| 45|75000.0|
|        014|          107| 26|46000.0|
|        015|          106| 37|63000.0|
|        016|          107| 30|49000.0|
|        017|          105| 34|57000.0|
|        018|          104| 29|50000.0|
|        019|          103| 36|62000.0|
|        020|          102| 32|53000.0|
+-----------+-------------+---+-------+

In [7]:
# adding column
emp_taxed = emp_casted.withColumn("tax", col("salary") * 0.2)
emp_taxed.show()

+-----------+-------------+---+-------+-------+
|employee_id|department_id|age| salary|    tax|
+-----------+-------------+---+-------+-------+
|        001|          101| 30|50000.0|10000.0|
|        002|          101| 25|45000.0| 9000.0|
|        003|          102| 35|55000.0|11000.0|
|        004|          102| 28|48000.0| 9600.0|
|        005|          103| 40|60000.0|12000.0|
|        006|          103| 32|52000.0|10400.0|
|        007|          101| 42|70000.0|14000.0|
|        008|          102| 29|51000.0|10200.0|
|        009|          103| 33|58000.0|11600.0|
|        010|          104| 27|47000.0| 9400.0|
|        011|          104| 38|65000.0|13000.0|
|        012|          105| 31|54000.0|10800.0|
|        013|          106| 45|75000.0|15000.0|
|        014|          107| 26|46000.0| 9200.0|
|        015|          106| 37|63000.0|12600.0|
|        016|          107| 30|49000.0| 9800.0|
|        017|          105| 34|57000.0|11400.0|
|        018|          104| 29|50000.0|10000.0|
|        019|          103| 36|62000.0|12400.0|
|        020|          102| 32|53000.0|10600.0|
+-----------+-------------+---+-------+-------+

In [8]:
# literal
# adding column 1 with value 1s, column 2 with value "two"s
from pyspark.sql.functions import lit

emp_new_cols = emp_taxed.withColumn("columnOne", lit(1)).withColumn("columnTwo", lit("two"))
emp_new_cols.show()

+-----------+-------------+---+-------+-------+---------+---------+
|employee_id|department_id|age| salary|    tax|columnOne|columnTwo|
+-----------+-------------+---+-------+-------+---------+---------+
|        001|          101| 30|50000.0|10000.0|        1|      two|
|        002|          101| 25|45000.0| 9000.0|        1|      two|
|        003|          102| 35|55000.0|11000.0|        1|      two|
|        004|          102| 28|48000.0| 9600.0|        1|      two|
|        005|          103| 40|60000.0|12000.0|        1|      two|
|        006|          103| 32|52000.0|10400.0|        1|      two|
|        007|          101| 42|70000.0|14000.0|        1|      two|
|        008|          102| 29|51000.0|10200.0|        1|      two|
|        009|          103| 33|58000.0|11600.0|        1|      two|
|        010|          104| 27|47000.0| 9400.0|        1|      two|
|        011|          104| 38|65000.0|13000.0|        1|      two|
|        012|          105| 31|54000.0|10800.0|        1|      two|
|        013|          106| 45|75000.0|15000.0|        1|      two|
|        014|          107| 26|46000.0| 9200.0|        1|      two|
|        015|          106| 37|63000.0|12600.0|        1|      two|
|        016|          107| 30|49000.0| 9800.0|        1|      two|
|        017|          105| 34|57000.0|11400.0|        1|      two|
|        018|          104| 29|50000.0|10000.0|        1|      two|
|        019|          103| 36|62000.0|12400.0|        1|      two|
|        020|          102| 32|53000.0|10600.0|        1|      two|
+-----------+-------------+---+-------+-------+---------+---------+

In [10]:
# rename colun
emp_renamed = emp_new_cols.withColumnsRenamed({
    "employee_id": "emp_id",
    "columnOne": "column One",
    "columnTwo": "column Two"
})
emp_renamed.show()

+------+-------------+---+-------+-------+----------+----------+
|emp_id|department_id|age| salary|    tax|column One|column Two|
+------+-------------+---+-------+-------+----------+----------+
|   001|          101| 30|50000.0|10000.0|         1|       two|
|   002|          101| 25|45000.0| 9000.0|         1|       two|
|   003|          102| 35|55000.0|11000.0|         1|       two|
|   004|          102| 28|48000.0| 9600.0|         1|       two|
|   005|          103| 40|60000.0|12000.0|         1|       two|
|   006|          103| 32|52000.0|10400.0|         1|       two|
|   007|          101| 42|70000.0|14000.0|         1|       two|
|   008|          102| 29|51000.0|10200.0|         1|       two|
|   009|          103| 33|58000.0|11600.0|         1|       two|
|   010|          104| 27|47000.0| 9400.0|         1|       two|
|   011|          104| 38|65000.0|13000.0|         1|       two|
|   012|          105| 31|54000.0|10800.0|         1|       two|
|   013|          106| 45|75000.0|15000.0|         1|       two|
|   014|          107| 26|46000.0| 9200.0|         1|       two|
|   015|          106| 37|63000.0|12600.0|         1|       two|
|   016|          107| 30|49000.0| 9800.0|         1|       two|
|   017|          105| 34|57000.0|11400.0|         1|       two|
|   018|          104| 29|50000.0|10000.0|         1|       two|
|   019|          103| 36|62000.0|12400.0|         1|       two|
|   020|          102| 32|53000.0|10600.0|         1|       two|
+------+-------------+---+-------+-------+----------+----------+

In [ ]:
# remove multiple columns
emp_dropped = emp_renamed.drop("column One", "column Two")
emp_dropped.show()

+------+-------------+---+-------+-------+
|emp_id|department_id|age| salary|    tax|
+------+-------------+---+-------+-------+
|   001|          101| 30|50000.0|10000.0|
|   002|          101| 25|45000.0| 9000.0|
|   003|          102| 35|55000.0|11000.0|
|   004|          102| 28|48000.0| 9600.0|
|   005|          103| 40|60000.0|12000.0|
|   006|          103| 32|52000.0|10400.0|
|   007|          101| 42|70000.0|14000.0|
|   008|          102| 29|51000.0|10200.0|
|   009|          103| 33|58000.0|11600.0|
|   010|          104| 27|47000.0| 9400.0|
|   011|          104| 38|65000.0|13000.0|
|   012|          105| 31|54000.0|10800.0|
|   013|          106| 45|75000.0|15000.0|
|   014|          107| 26|46000.0| 9200.0|
|   015|          106| 37|63000.0|12600.0|
|   016|          107| 30|49000.0| 9800.0|
|   017|          105| 34|57000.0|11400.0|
|   018|          104| 29|50000.0|10000.0|
|   019|          103| 36|62000.0|12400.0|
|   020|          102| 32|53000.0|10600.0|
+------+-------------+---+-------+-------+